@import '../../fonts/font.css';
@import '../../settings/var';
@import '../../settings/mixin';
.content {
    padding: 3rem 2.5rem;
    .content-header {
        margin-bottom: 1rem;
        h1 {
            text-transform: uppercase;
            font-size: 3.5rem;
            font-family: 'Saira Extra Condensed', sans-serif;
            font-weight: 700;
            color: #343a40;
        }
    }
    .content-body {
        .body-filter {
            margin: 0 10px;
            margin-bottom: 1rem;
            @include d-flex(row, flex-start, unset);
            .input-group {
                width: 25%;
                span,
                input {
                    @include borderRadius(0);
                }
            }
        }
        .btn-add-project,
        .btn-delete-project {
            @include d-flex(row, center, center);
            border: 1px solid var(--gray-3);
            padding: 5px;
            font-size: 0.875rem;
            margin-left: 1rem;
            color: #000;
            &:hover{
                border-color: var(--primary);
                color: var(--primary);
                cursor: pointer;
            }
        }
        .btn-switch-view {
            width: 2.2rem;
            height: 2.2rem;
            background-color: #fff;
            border: 1px solid var(--gray-3);
            margin-left: auto;
            @include d-flex(column, center, center);
            @include borderRadius(0);
        }
        .project-grid {
            @include d-flex(row, center, center);
            .container-project {
                background: rgb(245, 245, 245);
                padding: 0.625rem;
                margin: 0.625rem;
                flex: 1 1 0%;
                height: 100vh;
                @include d-flex(column, unset, unset);
                p {
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    color: rgb(94, 108, 132);
                }
                .card {
                    width: 100%;
                    margin: 5px 0px;
                    box-shadow: rgb(9 30 66 / 25%) 0px 1px 2px;
                    @include borderRadius(0);
                    .card-header {
                        font-size: 0.875rem;
                    }
                    .card-body {
                        @include d-flex(row, space-between, center);
                        p {
                            color: rgb(194, 194, 194);
                            text-transform: uppercase;
                            font-size: 10px;
                            padding-top: 1rem;
                        }
                        > div {
                            height: 100%;
                            @include d-flex(row, center, flex-end);
                            i {
                                font-size: 1rem;
                                &:hover {
                                    color: var(--primary);
                                    cursor: pointer;
                                }
                            }
                            .btn-watch {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
        .project-list {
            .list-table {
                margin-bottom: 1rem;
                .list-items-header {
                }
                .list-items-body {
                    .card {
                        box-shadow: rgb(9 30 66 / 25%) 0px 1px 2px;
                        @include borderRadius(0);
                        .group-filter {
                            @include d-flex(row);
                            i {
                                font-size: 1rem;
                                color: var(--text-paragraph);
                                &:hover {
                                    color: var(--primary);
                                    cursor: pointer;
                                }
                            }
                            .btn-watch {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
