@font-face {
    font-family: fontMedium;
    src: url("../SairaExtraCondensed-Medium.ttf");
}

@font-face {
    font-family: fontRegular;
    src: url("../SairaExtraCondensed-Regular.ttf");
}

@font-face {
    font-family: fontBold;
    src: url("../SairaExtraCondensed-Bold.ttf");
}